.dexLayout {
    padding: 1rem 0px 1rem 6rem;
}

.tradeBoxContainer {
    width: 24rem;
}

.dexContent {
    display: flex;
    align-items: self-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.spaceDiv {
    font-family: Poppins;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0em;
    text-align: right;
    margin: 0.7rem 1.5rem 1rem 0rem;
}


@media (max-width: 1000px) {
    .dexLayout {
        padding-top: 0.9rem;
        padding-left: 0px;
    }

    .tradeBoxContainer {
        width: 24rem;
        height: 100%;
    }

    .dexContent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-left: 0px;
    }
}