
 .sidenavContainer {
	background-color: var(--dark);
	width: 6rem;
	height: 100vh;
	
	position: fixed;
	
	border-right: 0.5px solid var(--border);
	transition: 0.4s;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 0px;
} 

.defiPeLogo {
	height: 2.6rem;
	width: 2.6rem;
}



/* 
.navUpper,
.navHeading,
.navMenu,
.menuItem,
.navFooter {
	display: grid;
} */

.navMenu{
	position: absolute;
	top: 25%;
}

.navHeading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 75px;
}

.navBrand {
	display: flex;
	color: var(--light);
}
.navBrand img {
	width: 40px;
	padding: 0 10px;
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: var(--light);
	border-radius: 15px;
	height: 5px;
	width: 35px;

	transition: 0.4s;
}

.hamburger:hover span {
	background-color: #26A17B;
}

.hamburgerIN:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
}
.hamburgerIN:hover span:nth-child(2) {
	width: 40px;
}
.hamburgerIN:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
}

.hamburgerOUT {
	margin-left: 24px;
}
.hamburgerOUT:hover span:nth-child(1) {
	width: 25px;
	transform: translate(14px, 4px) rotate(-155deg);
}
.hamburgerOUT:hover span:nth-child(2) {
	width: 40px;
}
.hamburgerOUT:hover span:nth-child(3) {
	width: 25px;
	transform: translate(14px, -4px) rotate(155deg);
}

.navMenu {
	grid-template-rows: repeat(7, 1fr);
	margin-top: 50px;
}

.menuItem {
	height: 57px;
	display: flex;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 20px;
	border-radius: 10px;
}

/* .menuItemNX {
	margin: auto;
} */
.menuItem:hover {
	background-color: var(--dark);
}
.menuItem img {
	width: 30px;
	
}

.navFooter {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
}




@media (max-width: 1000px) {
	.sidenavContainer {
		display: none;
	}
} 





/* ************************************************** */
/* .sidebar .text {
	font-size: 16px;
	font-weight: 500;
}

.sidebar .image {
	min-width: 60px;
	display: flex;
	align-items: center;
}





.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.sidebar .imageText img {
	width: 40px;
	border-radius: 6px;
}

.sidebar header {
	position: relative;
}

.sidebar header .imageText {
	display: flex;
	align-items: center;
}

header .imageText .headerText {
	display: flex;
	flex-direction: column;
}

.headerText .name {
	font-weight: 600;
}

.headerText .profession {
	margin-top: -2px;
}

.sidebar header .toggle {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%);
	height: 25px;
	width: 25px;
	background-color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 22px;
}

.sidebar li a{
	height: 100%;
	margin-top: 0.6rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	border-radius: 6px;
	padding: 0.4rem 0.2rem;
	transition: all 0.4s ease;
	
}
.sidebar li a:hover{
background-color: var(--gray);
}

.sidebar li {
	list-style: none;
}
.icon img {
	height: 1.8rem;
	width: 1.8rem;
}

.sidebar li .icon {
	font-size: 20px;

	color: rgba(255, 255, 255, 0.825);
}

.sidebar li .navText {
	font-size: 1.2rem;
	margin-left: 0.8rem;
	color: #808191;
	font-weight: 400;
} */